@model List<Horus.Models.Player>

@{
    ViewBag.Title = "Players list";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 1;
}

<i class="fa fa-user-plus fa_custom fa-2x"></i>
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Who you looking for?">
</div>
<span class="counter pull-right"></span>
<table class="table table-sm table-hover results">
    <thead class="thead-inverse">
        <tr>
            <th class="col-md-1 col-xs-1">#</th>
            <th class="col-md-3 col-xs-3">Id</th>
            <th class="col-md-5 col-xs-5">Username</th>
            <th class="col-md-3 col-xs-3">Password</th>
        </tr>
        <tr class="warning no-result">
            <td colspan="4"><i class="fa fa-warning"></i> No result</td>
        </tr>
    </thead>
    @foreach (var player in Model)
    {
        <tr>
            <td>@count</td>
            <td>@player.Id</td>
            <td>@player.Username</td>
            <td>@player.Password</td>
        </tr>
        count++;
    }

</table>