@model List<Horus.Models.Player>

@{
    ViewBag.Title = "Players list";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 1;
}

<i class="fa fa-user-plus fa_custom fa-2x"></i>
<table id="playerLists" class="display nowrap table-hover">
    <thead>
        <tr>
            <th class="col-md-1 col-xs-1">#</th>
            <th class="col-md-3 col-xs-3">Id</th>
            <th class="col-md-5 col-xs-5">Username</th>
            <th class="col-md-2 col-xs-2">Password</th>
            <th class="col-md-1 col-xs-1">Something</th>
        </tr>
    </thead>
    @foreach (var player in Model)
    {
        <tr>
            <td>@count</td>
            <td>@player.Id</td>
            <td>@player.Username</td>
            <td>@player.Password</td>
            <td>helloworldhelloworld</td>
        </tr>
        count++;
    }

</table>