@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout-BSI.cshtml";
}

@Styles.Render("~/Content/login")

<div class="container">
    <div class="wrapper">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-signin" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
            <hr class="colorgraph"><br>

            <input type="text" class="form-control" id="Username" name="Username" placeholder="Username" required="" autofocus="" />
            <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" required="" />

            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Login</button>
        }
    </div>
</div>